/*all styles are here*/
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

img{
    height: 550px;
    width: 550px;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
}

a{
    text-decoration: solid;
    font-size: 21px;
}

.half-width-section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-top: 25px;
    padding-bottom: 70px;
    padding-left: 25px;
    padding-right: 20px;
}

.half-width img{
    padding-left: 25px;
    padding-right: 10px;
}

#one-heading{
    color: brown;
}

#hire-link-button{
    padding: 10px 50px;
    background: linear-gradient(brown, coral);
    border: 5px none;
    border-radius: 15px;
    color: black;
}

#resume-link-button{
    padding: 10px 50px;
    background: linear-gradient(orangered, rgb(201, 133, 6));
    border: 5px none;
    border-radius: 15px;
    color: black;
}

#dream-big{
    padding-top: 75px;
}

#web-dev{
    color: orangered;
}

.experience-div{
    display: flex;
}

#full-stack-div{
    width: 50%;
    box-shadow: 20px 20px 60px gray;
    border-left: 10px solid brown;
    border-radius: 30px;
    padding: 30px 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
}

#baby-div{
    width: 50%;
    box-shadow: 20px 20px 60px gray;
    border-left: 10px solid blue ;
    border-radius: 30px;
    padding: 30px 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
}

#first-sec{
    background-image: url(image/welcome-section.png);
    background-repeat: no-repeat;
}

#mid-sec{
    background-image: url(image/mid_pic-remove.png);
    background-repeat: no-repeat;
    background-position: right;
}

#experience-sec{
    background-image: url(image/gb.png);
    background-repeat: no-repeat;
}

.last-sec{
    margin-left: 80px;
    margin-bottom: 150px;
}

.icon-img{
    height: 50px;
    width: auto;
}

.last-link{
    color: black;
    padding-top: 15px;
    padding-left: 5px;
}

.last-divs{
    margin-bottom: 4px;
    display: flex;
}

